// Colors
$grayish-white: #F2F5F9;
$grayish-blue: #F2F7FC;
$orange: #FF9C1A;
$med-light-orange: #FFE3BF;
$light-orange: #FFEBD1;
$red: #EC1B09;
$gray: #D9D9D9;
$white: #FFFFFF;
$soft-black: #0B0909;
$soft-gray: #1A1003;
$light-gray: #E1E8EF;
$very-light-gray: #F8FBFB;

// Fonts
$pacifico: 'Pacifico', cursive;
$poppins: 'Poppins', sans-serif;
$raleway: 'Raleway', sans-serif;